// JumpRope Web
// 2016

@import "variables";
@import "mixins";
@import "definitions";

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    @extend .grey-text;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5em;
    font-family: 'Questrial', sans-serif;
    // letter-spacing: 1px;
}
h4 {
    line-height: 1.5em;
}

p {
    margin: 0 0 1.5em;
    font-size: 14px;
    line-height: 1.25em;
    @media(min-width:768px) {
        margin: 0 0 1.4em;
        font-size: 14px;
        line-height: 1.25em;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
        cursor: pointer;
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    // border-bottom: 1px solid rgba(white, 0.3);
    @extend .questrial;
    @extend .blue;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
        padding: 8px 15px;
    }
    .navbar-collapse.collapse {
        @media (min-width: 768px) {
            display: none !important;
        }
        @media (min-width: 992px) {
            display: block !important;
        }        
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
                &.btn {
                    margin: 8px 5px;
                    padding: 5px 10px;
                    @extend .questrial;
                    text-transform: inherit;
                    border: 1px solid white;
                    color: white;                    
                    &.login {
                        background: transparent;
                        &:hover {
                            background-color: white;
                            @extend .blue-text;
                        }
                    }
                    &.signup {
                        @extend .turq;
                        &:hover {
                            @extend .orange;
                            @extend .orange-border;  
                            color: white !important;                          
                        }
                    }
                }
            }
            &.active {
                outline: none;
                a {
                    // background-color: rgba(white, 0.3);
                    &:hover {
                        // color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background-color: map-get($colours, "blue");
            // border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    &.home {
        background-image: url(../img/banner/Homepage-Intro.jpg);        
    }
    &.classroom-solutions {
        background-image: url(../img/banner/ClassroomSolutions-Intro.jpg);        
    }    
    &.cpt {
        background-image: url(../img/banner/CPT-Intro.jpg);        
    }     
    &.gradebook {
        background-image: url(../img/banner/Gradebook-Intro.jpg);        
    } 
    &.proven-partners {
        background-image: url(../img/banner/ProvenPartners-Intro.jpg);        
    }             
    &.whoweare {
        background-image: url(../img/banner/WhoWeAre-Intro.jpg);        
    }   
    &.blog {
        background-image: url(../img/banner/Homepage-Gradebook.jpg);
        height: auto !important;
    }    
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}



.content-section {
    padding-top: 100px;
}

// .gradebook-section {
//     width: 100%;
//     padding: 100px 0;
//     color: white;
//     background: url(../img/banner/Homepage-GradebookBG.jpg) no-repeat center center scroll;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     -o-background-size: cover;
//     background-attachment: fixed;
// }

.backgrounded {
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    &.fixed {
        background-attachment: fixed;    
    }
    &.gradebook {
        background-image: url(../img/banner/Homepage-Gradebook.jpg);
        @extend .bg-fixed;
        @extend .white-text;
    }
    &.district-admin {
        background-image: url(../img/banner/Gradebook-DistrictAdmin.jpg);
        @extend .white-text;
    }
    &.partnering {
        background-image: url(../img/banner/Homepage-Partnering.jpg);
        @extend .white-text;
        @extend .bg-fixed;
    }   
    &.consulting {
        background-image: url(../img/banner/Partners-Consulting.jpg);
    }       
    &.WhoWeAre {
        background-size: inherit;
        @extend .white-text;
        // background-color: #00a7c0;
        background-image: linear-gradient(to bottom,  rgba(26,167,190,1) 0%,rgba(21,143,170,1) 100%); /* W3C */
        background-repeat: repeat;
        background-attachment: fixed;
        position: relative;
        & * {
            position: relative;
            z-index: +1;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: .8;
            background-image: url(../img/banner/wavy.svg);
            background-repeat: repeat;
            background-size: 55px;
            background-blend-mode: multiply;
            fill: #94d31b; 

        }        
    }   
    &.footer {
        padding: 0;
        background-size: inherit;        
        @extend .white-text;        
        background: #005d80;
        background-image: linear-gradient(to bottom,  rgba(10, 94, 127,.85) 0%,rgba(2,36,65,.65) 100%); /* W3C */
        background-repeat: repeat;
        // background-attachment: fixed;        
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: .35;
            background-image: url(../img/banner/Global-FooterSwatch.png);
            background-repeat: repeat;
            background-size: 55%;
        }

    }         
}
.gridded {
    position: relative;
    & * {
        position: relative;
        z-index: +1;
    }
    &:before {
        content: '';
        position: absolute;
        // z-index: +1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .1;
        background-image: url(../img/banner/GridBlue.svg);
        background-repeat: repeat;
        background-size: 20px;
    }
}
.wavy {
    position: relative;
    & * {
        position: relative;
        z-index: +1;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .2;
        background-image: url(../img/banner/wavy.svg);
        background-repeat: repeat;
        background-size: 40px;
    }
}

.sqimg {
    min-height: 215px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    
    @media(min-width:767px) {
        min-height: inherit;
    }    
    &.cpt1 {
        background-image: url(../img/banner/SquareImage5.jpg);
    }
    &.cpt2 {
        background-image: url(../img/banner/SquareImage4.jpg);
    }        
    &.gradebook1 {
        background-image: url(../img/banner/SquareImage1.jpg);        
    }
    &.gradebook2 {
        background-image: url(../img/banner/SquareImage3.jpg);
    }    
    &.partners1 {
        background-image: url(../img/banner/SquareImage-PaperClips.jpg);        
    }
    &.partners2 {
        background-image: url(../img/banner/SquareImage-Erasers.jpg);
    }    
    &.partners3 {
        background-image: url(../img/banner/SquareImage2.jpg);
    }        
}



.cpt1bg {
    &:after {
        content: "";
        background-image: url(../img/banner/Homepage-WhoWeAreSwatch3.png); /* fallback */
        background-repeat: repeat;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-size: 45px;
    }
}
.productBar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#043b5b+0,03314d+100 */
    background: rgb(4,59,91); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(4,59,91,1) 0%, rgba(3,49,77,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,59,91,1) 0%,rgba(3,49,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(10,96,127,1) 0%,rgba(4,55,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043b5b', endColorstr='#03314d',GradientType=0 ); /* IE6-9 */
    a {
        h6 {
            position: relative;
            display: inline-block;
            &:after {
                content: '';
                position: absolute;
                right: -1.5em;
                bottom: 2px;
                width: 0px;
                height: 0px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 9px solid white;                
            }
        }
    }
    a.gradebook {

    }
    a.cpt {

    }
}
.carat {
    &:before {
        position: absolute;
        left: 3em;
        top: 0;
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 13px solid white;
    }    
}
.wpp-wrap {
    position: relative;
    .wpp {
        position: absolute;
        bottom: -10%;
        left: 10%;
        width: 85%;
        & > .row {
            @media(max-width:767px) {
                margin: 0 15px;
            }            
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10px;
            top: 10px;
            background-color: grey;
            z-index: -1;
            opacity: .7;
        }
    }    
}

.line {
    line-height: .95em;
}

.gb-feats {
    & .gb-feat {        
        &:nth-child(5) {
            clear: left;
            @media(min-width:989px) {
                clear: none;
            }
        }        
    }
}
.carousel#marketing{
    .carousel-control.left, .carousel-control.right  {
        background-image: none !important;
    }
    @extend .beige;  
    height: 300px;
    & .item {
        height: 300px;        
        & .container {
            height: 300px;
            display: flex;
            align-items: center;
            & .carousel-content {
                text-align: center;
                @extend .ltgrey-text;
                @extend .questrial;                
            }
        }      
    }
}

#marketing-whitepapers {
    .turq.line {
        line-height: 1em;
    }
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
    .navbar-custom {
        background: transparent;
    }
}

ul.gradebook-features {
    list-style-type: none;
    padding-left: 15px;
    li {
        margin-bottom: 1.5em;
        position: relative;
        &:before {
            content: "";
            background: url(../img/sub/LiCheck.svg) no-repeat;
            width: 12px;
            height: 10px;
            position: absolute;
            left: -2em;
            top: .25em;
        }
    }
}
.partnering-feats {
    counter-reset: item;
    ol {
        padding-left: 15px;
        list-style-type: none;
        li {
            margin-bottom: 1.5em;
            position: relative;
            @extend .ltgrey-text;
            &:before {
                content: counter(item) " ";
                counter-increment: item;
                position: absolute;
                right: 105%;
                top: -.25em;
                font-size: 1.75em;
                @extend .questrial; 
                @extend .turq-text;
            }
        }    
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.team-member {
    margin-bottom: 6em;
    .member-pic {
        margin-bottom: 1em;
    }
    .member-name {
        margin-bottom: .25em;
    }
    .member-title {
        margin-bottom: 1em;
        @extend .ltgrey-text;
    }
    .member-bio {
        font-size: 1em;
        @extend .ltgrey-text; 
        margin-bottom: 1em;       
    }
    .member-readmore {
        font-size: .97em;
        margin-bottom: 1em;
        a {
            @extend .uppercase;
            @extend .blue-text;
        }            
    }
    .member-social {
        font-size: .85em;
        a {
            float: left;
            display: inline-block;
            @extend .ltturq-text;
            position: relative;
            margin-left: 3em;
            &:first-child {
                margin-left: 1.5em;
            }
            &:hover {
                @extend .turq-text;
            }
            &:before {
                content: '';
                width: 13px;
                height: 13px;
                position: absolute;
                left: -1.5em;
                top: 0;
            }
            &.lin {
                &:before {
                    background: url(../img/svg/LIN.svg) no-repeat;
                }
            }
            &.tw {
                &:before {
                    background: url(../img/svg/TW.svg) no-repeat;
                }
            }            

        }
    }
}

.notebook-signup {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend .ltgrey;
        opacity: .2;
        z-index: -1;
    }
    form {
        input[type="email"] {
            border-radius: 0;
            border: none;
            display: block;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
        }
    }
}
.post-list {
    // @extend .margined-top;
}

.post.list-view {
    @extend .margined-bottom;    
}

.blog-home-list {
    h4 {
        a {
            color: #666;
        }
    }
}


.mobile-v-spacer {
    height: 1em;
    display: block;
    @media(min-width:768px) {
        display: none;
    }
}


footer {
    // padding: 50px 0;
    font-size: .95em;
    @extend .lato;
    a.btt {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            position: absolute;
            right: -1.25em;
            top: 25%;
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #00a7c0;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;            
        }
        &:hover {
            color: white;
            &:after {
                border-bottom: 5px solid #ffffff;
            }
        }
    }
    & p {
        margin: 0 0 1em 0;
        font-size: .95em;
        &.copyright {
            // font-size: 1.5em;
            @extend .lato;
            a {
                @extend .white-text;
                @extend .underline;
            }
        }
    }
    h5 {
        @extend .questrial;
        margin-bottom: .75em;
    }
    & ul.footernav {
        list-style-type: none;
        margin: none;
        padding: 0;
        & li {
            line-height: 2em;
            & a {
                @extend .white-text;
            }
        }
    }
    form#NotebookForm {
        input[type=email] {
            @include border-radius(0); 
            width: 65%;
            @extend .ltgrey-border;
            &::-webkit-input-placeholder {
               font-size: .75em;
            }
            &:-moz-placeholder { /* Firefox 18- */
               font-size: .75em;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
               font-size: .75em;
            }
            &:-ms-input-placeholder {  
               font-size: .75em;
            }            
        }
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}
